:root {
  --text: #308066;
  --accent-text: #8ab3d3;
  --accent-body: #799ebb;
  --bg: #bdd3da;
  --border: #8ab3d3;
  --accent: #9bc598;
  --accent-bg: #cee6ee;
  --shadow: #0c1016 0 10px 15px -3px, #0c1016 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@font-face {
  font-family: "BodyFont";
  src: url("./public/fonts/ithaca.ttf") format("truetype");
}

.pixel-text {
  font-family: "BodyFont", sans-serif;
}

@font-face {
  font-family: "HeaderFont";
  src: url("./public/fonts/Gobbita.otf") format("opentype");
}

@font-face {
  font-family: "AccentFont";
  src: url("./public/fonts/Warheed.ttf") format("truetype");
}

.header-text {
  font-family: "HeaderFont", sans-serif;
}

.accent-font {
  font-family: "AccentFont", sans-serif;
}

body {
  margin: 0;
  color: var(--accent-body);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@layer base {
  h1,
  h2 {
    font-weight: 500;
    color: var(--text-h);
  }
}

h1 {
  font-family: "AccentFont", sans-serif;
  font-size: 150px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-family: "HeaderFont", sans-serif;
  font-size: 32px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

@layer base {
  h3 {
    font-size: 26px;
    font-family: "BodyFont", sans-serif;
  }
}
@layer base {
  p {
    font-size: 23px;
    font-family: "BodyFont", sans-serif;
    margin: 0;
  }
}
@layer base {
  a {
    font-size: 23px;
    font-family: "BodyFont", sans-serif;
  }
}
@layer base {
  li {
    font-size: 23px;
    font-family: "BodyFont", sans-serif;
  }
}

.noise {
  position: relative;
}

.noise::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("./assets/noise.svg");
  background-repeat: repeat;
  background-size: 250px 250px;
  opacity: 0.5;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.navbar {
  position: sticky;
  background: var(--bg);
  z-index: 10;
}

.navbar::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/noise.svg");
  background-repeat: repeat;
  background-size: 250px 250px;
  opacity: 0.5;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.blob-gradient {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scramble-wrapper {
  --accent-body: var(--accent-body);
  --accent-bg: var(--accent-bg);
}

.scramble-wrapper:hover {
  --accent-body: var(--text);
  --accent-bg: var(--accent);
}
